body {
		font-family: 'Open Sans', sans-serif;
     }
html{
		font-size: 10px;
	}
a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}

.wrapper{
	display: table-cell;
	vertical-align: middle;
}
.main{
	position: relative;
	display: table;
	width: 100%;
	text-align: center;	
	color: #000;
	color: #fff;
	height: 100vh;
	/* background: #fff url(../css/img/main-bg.jpg) center center no-repeat; */
}
.main h1{
	/* margin: 0; */
	margin-bottom: 1.4rem;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 4.8rem;
}
.main p{
	font-size: 3rem;
	font-weight: 300;
}
.main-overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.main-header{
	/* border: 1px solid red; */
	position: relative;
	z-index: 2;
}
.main-line{
	width: 200px;
	height: 1px;
	background-color: #fff;
	margin: 0 auto;
}
.main-down{
	position: absolute;
	color: #fff;
	z-index: 4;
	bottom: 2rem;
	display: inline-block;
	font-size: 2rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid transparent;
	line-height: 50px;
	left: 50%;
	margin-left: -25px;
	transition: 0.2s;
}
.main-down:hover {
	color: #fff;
	border-color: #fff;
}
/* Секция с портфолио */
.portfolio {
	padding: 10rem 0px;
	text-align: center;
}
.section-header {
	margin-bottom: 5rem;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 3.6em;
}
.portfolio img{
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
}
.portfolio a {
	display: block;
	margin: 2rem auto 6rem;
	color: #333;
	width: 17rem;
	border-bottom: 1px solid transparent;
}
.portfolio a:hover {
text-decoration: none;
border-bottom: 1px dotted #333;
}

.footer {
	background-color: #646464;
	color: #fff;
	text-align: center;
	padding: 3rem;
}
.footer strong {
	font-weight: 300;
	font-size: 2.4rem;
}
.social-links {
	margin-top: 1rem;
}
.social-links a {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display: inline-block;
	color: #fff;
	border: solid 1px #fff;
	border-radius: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	transition: 0.2s;
}
.social-links a:hover {
	background-color: #fff;
	color: #646464;
}
.offer-btn {
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 1rem auto;
	border: 0.1rem solid #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #fff;
	border-radius: 10rem;
	transition: 0.2s;
}
.offer-btn:hover {
	text-decoration: none;
	background-color: #fff;
	color: #646464;
}

.modal-content h4 {
	font-weight: 300;
	font-size: 2.5rem;
}
.close {
	background-color: transparent;
	border: none;
	font-size: 2.5rem;
	position: absolute;
	right: 2rem;
	top: 1rem;
}
.modal-btn {
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
	padding: 1rem 2rem;
	border-right: 10rem;
}
.modal-btn:hover {
	 background-color: #fff;
	 color: #fff;
	 text-decoration: none;
}
@media (min-width: 0px) and (max-width: 767px){
html {
	font-size: 7px;
}
.footer strong{
	margin: 3rem 0 2rem;
	display: inline-block;
}
.social-links a {
	font-size: 1.5rem;
}
}
@media (min-width: 768px) and (max-width: 991px){
.footer strong{
	margin: 3rem 0 2rem;
	display: inline-block;
}
}





/* -------------------------------- 

Main Content

-------------------------------- */
.cd-main-content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  /* vertically align its content */
  display: table;
  background-color: #e4dcca;
}
.cd-main-content .center {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* -------------------------------- 

Modal window 

-------------------------------- */
.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* background: #402f44 url(../img/modal-bg.jpg) no-repeat center center; */
  background-size: cover;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.modal-content {
	background: #402f44 url(../img/modal-bg.jpg) no-repeat center center;
}
.cd-modal .modal-content {
  height: 100%;
  overflow-y: auto;
  padding: 3em 5%;
  color: #e4dcca;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal h1 {
  text-align: center;
}
.cd-modal h1::after {
  /* ink/brush separation */
  content: '';
  display: block;
  width: 130px;
  height: 18px;
  background: url(../img/ink-separation.svg) no-repeat center center;
  margin: .2em auto 0;
}
.cd-modal p {
  line-height: 1.6;
  margin: 2em auto;
  max-width: 800px;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.7s, visibility 0s;
  -moz-transition: opacity 0.7s, visibility 0s;
  transition: opacity 0.7s, visibility 0s;
}
.cd-modal.visible .modal-content {
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
}
.cd-modal.visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
@media only screen and (min-width: 1100px) {
  .cd-modal .modal-content {
    padding: 6em 5%;
  }
  .cd-modal .modal-close {
    height: 60px;
    width: 60px;
  }
  .cd-modal p {
    font-size: 2rem;
  }
}

/* -------------------------------- 

Transition Layer 

-------------------------------- */
.cd-transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}
.cd-transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-2%);
  -moz-transform: translateY(-50%) translateX(-2%);
  -ms-transform: translateY(-50%) translateX(-2%);
  -o-transform: translateY(-50%) translateX(-2%);
  transform: translateY(-50%) translateX(-2%);
  /* its dimentions will be overwritten using jQuery to proportionally fit the viewport */
  height: 100%;
  /* our sprite is composed of 25 frames */
  width: 2500%;
  background: url(../img/ink.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.cd-transition-layer.visible {
  opacity: 1;
  visibility: visible;
}
.cd-transition-layer.opening .bg-layer {
  -webkit-animation: cd-sequence 0.8s steps(24);
  -moz-animation: cd-sequence 0.8s steps(24);
  animation: cd-sequence 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.cd-transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-transition-layer {
  display: none;
}

@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}

